.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "DM Serif Text", serif;
}

body {
  background-color: #7a503a;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
}

header {
  width: 90vw;
  top: 0;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.logo {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  font-weight: 900;
  color: #facd9b;
  text-shadow: 0 0 15px #000;
}

header nav ul {
  display: flex;
  gap: 20px;
}

header nav ul li {
  cursor: pointer;
  position: relative;
  padding: 5px 0px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  color: #facd9b;
  text-shadow: 0 0 15px #000;
}

header nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  height: 4px;
  background-color: #e99724;
  transition: width 0.2s ease;
}

header nav ul li:hover:after {
  width: 100%;
}

.container {
  height: 100dvh;
  position: relative;
  background: #587a74;
  background: linear-gradient(
    343deg,
    rgba(88, 122, 116, 1) 0%,
    rgba(122, 80, 58, 1) 62%
  );
  overflow: hidden;
}

.container::before {
  content: "";
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: #facd9b;
  background: radial-gradient(
    circle,
    rgba(250, 205, 155, 1) 0%,
    rgba(122, 80, 58, 1) 78%
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(100px);
  z-index: 1;
  animation: pulse 4s infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.itens-carrocel {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.item;
